.form {
  margin: 16px 0;
  min-width: 400px;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 16px;
}

.label {
  justify-self: right;
  padding-top: 2px;
  font-weight: 600;
  font-size: 14px;
}

.textarea {
  justify-self: left;
  min-width: 300px;
  width: 100%;
  height: auto;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--brand-color-4);
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  color: var(--primary-text-color);
  resize: none;
}

.input {
  justify-self: left;
  outline: none;
  min-width: 300px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--brand-color-4);
  font-family: inherit;
  font-size: 1rem;
  color: var(--primary-text-color);
}

.number {
  min-width: 80px;
  max-width: 80px;
}

.checkbox {
  min-width: 20px;
  max-width: 20px;
  cursor: pointer;
}

.submit {
  grid-column: 2 / 2;
}

.error {
  background-color: rgb(253 193 193);
  border-color: darkred;
  transition: all 0.5s ease;
}

.hint {
  grid-column: 2 / 2;
  color: red;
  font-size: 0.85rem;
}

.ingredients {
  grid-column: 2 / 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.more {
  width: 200px;
  height: 40px;
  cursor: pointer;
	outline: none;
	font-size: 1rem;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	border: none;
  background-color: var(--brand-color-4);
	padding: 10px 5px;
}