.link {
	width: fit-content;
}

.button {
  width: 200px;
  height: 40px;
  cursor: pointer;
	outline: none;
	font-size: 1rem;
	font-weight: 500;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	border: none;
  background-color: #bb3b3b;
	padding: 10px 5px;
}

.button:hover {
  filter: brightness(1.2);
}